[run]
concurrency = thread
  
[report]
show_missing = True
fail_under = 80
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise ImportError
