fastapi
uvicorn[standard]
websockets
jinja2
python-multipart>=0.0.26
httpx
pytest
watchdog
ruff
pytest-cov
mistralai

# XTTS requirements (Managed separately for compatibility)
# See requirements-xtts.txt
beautifulsoup4
psutil
